DeploymentFiles/.env
Backups
Backups/**
Backups/**/**
.secrets
.secrets/**
.secrets/**/**
Archive
Archive/**
Archive/**/**
OtherFiles
OtherFiles/**
OtherFiles/**/**
Screenshots
Screenshots/**
Screenshots/**/**
Scripts/Gitlab
Scripts/Gitlab/**
Scripts/Gitlab/**/**
*.crt
*.secrets
*.pass
*.env
*.txt